.filterButton {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    border: 1px solid #ffffff;
    border-radius: 60px;
    padding: 6px 20px;
}

.filterButton:hover {
    border-color: #d9b6ff;
    color: #d9b6ff;
    cursor: pointer;
}

.filterButton:active {
    border-color: #ad61ff;
    color: #ad61ff;
    cursor: pointer;
}
.filterContainer {
    position: absolute;
    position: absolute;
}

.filterBox {
    position: relative;
    top: 15px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 248px;
    max-height: 305px;
    padding: 34px;
    border-radius: 12px;
    background: #313131;
    overflow: auto;
    scrollbar-width: thin;
    scrollbar-color: #ffffff #4B4949;
}

.filterList {
    height: 24px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}

.filterListActive {
    height: 24px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #ad61ff;
}

.filterList:hover {
    color: #d9b6ff;
    cursor: pointer;
}

.filterList:active {
    color: #ad61ff;
    cursor: pointer;
}

.svg {
    position: absolute;
    top: 230px;
    left: 605px;
}

.counter {
    position: absolute;
    top: 234px;
    left: 613px;
}