.mainNav {
    width: 244px;
    background-color: #181818;
    padding: 20px 0 20px 36px;
}

.navLogo {
    width: 113.33px;
    height: 43px;
    padding: 13px 0 13px 0;
    background-color: transparent;
    margin-bottom: 20px;
}

.navBurger {
    width: 20px;
    height: 36px;
    padding: 13px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
}

.navMenu {
    display: block;
    visibility: visible;
}

/* Лучше лого в отдельный компонент */
.logoImage {
    width: 113.33px;
    height: 17px;
    color: #181818;
}

/* Лучше бургер в отдельный компонент */
.burgerLine {
    display: inline-block;
    width: 100%;
    height: 1px;
    background-color: #d3d3d3;
}